<html>
    <head>
        <title>SkillWing</title>
        <style type="text/css">
            body {
                font-family: "Menlo for Powerline";
                font-size: 9px;
            }
            h1 {
                font-size: 10px;
            }

            input[type="text"].level {
                width: 50px;
            }
        </style>
    </head>
    <body>
        <!--
        <label for="player_name">Player</label>
        <input id="player_name" type="text">
        <input id="search_player" type="button" value="Search">
        -->

        <h1>Time value</h1>
        <input id="time_value_textbox" type="text">

        <h1>Skill</h1>
        <select id="skillMenu">
        <%
            _.each(skills, function(skill) {
                print('<option value="' + skill + '">' + skill + '</option>');
            });
        %>
        </select>

        <table id="guide">
        </table>

        <script src="jquery-1.10.0.js"></script>
        <script>
            var time_value;

            $(document).ready(function() {
                time_value = 1000000;
                $('#time_value_textbox').val(time_value);
                $('.level').on('input', function(event) {
                    refresh();
                });
                $('#skillMenu').on('change', function() {
                    var selection = this.value;
                    showGuide(selection, time_value);
                });
            });

            function showGuide(selection, timeValue) {
                var data = $.getJSON('guide', { skill: selection, timeValue: timeValue }, function(rows) {
                    $('#guide').empty();
                    var table = $('#guide');
                    var headers = Object.keys(rows[0]);
                    for (var i = 0; i < headers.length; i++) {
                        table.append($('<th align=left>').text(headers[i]));
                    }
                    for (var i = 0; i < rows.length; i++) {
                        var row = rows[i];
                        var tableRow = $('<tr>');
                        for (var j = 0; j < headers.length; j++) {
                            var header = headers[j];
                            tableRow.append($('<td>').text(row[header]));
                        }
                        table.append(tableRow);
                    }
                });
            }

            function refresh() {
                var skills = {};

                $(".current").each(function(index, element) {
                    var key = this.id.match(/[^_]+/)[0];
                    if (!(key in skills)) {
                        skills[key] = {};
                    }
                    skills[this.id.match(/[^_]+/)[0]]['current'] = this.value;
                });
                $(".target").each(function(index, element) {
                    var key = this.id.match(/[^_]+/)[0];
                    if (!(key in skills)) {
                        skills[key] = {};
                    }
                    skills[this.id.match(/[^_]+/)[0]]['target'] = this.value;
                });

                $('#guide').load('methods', {
                    skill: 'Fletching',
                    timeValue: time_value
                });
            }

            $('#time_value_textbox').on('input', function(event) {
                time_value = this.value;
                showGuide($('#skillMenu').val(), time_value);
            });
        </script>
    </body>
</html>
